* {
  box-sizing: border-box;
}

header {
  background-color: rgb(57, 56, 56);
}
header img {
  margin-bottom: 0;
}

nav {
  margin: 1rem auto;
  width: 960px;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  flex-wrap: nowrap;
  align-items: center; 
}

ul{
  display: flex; 
  justify-content:space-between;
  align-items:center;
  margin-right: 30px ;
}

li{
  padding: 50px;
}

li a{
  color: lightgray;
  text-decoration: none;
}

main {
  margin: 30px auto 0;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start; 
}

img {
  margin-bottom: 30px;
}

h3{
  color: black;
  font-size: 25px;
  font-family:Poppins ;
}

footer {
  background-color: rgb(65, 64, 64);
  height: 50px;
}

article {
  width: 450px;
}

article section {
  height: 332px;
  overflow: auto;
}

article a:link, a:visited {
  background-color: #575353;
  color: lightgray;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

article a:hover, a:active {
  background-color: rgb(233, 141, 107);
  transition: 350ms;
}